<div class="absolute top-16 left-0 w-16 h-screen bg-prime shadow-md">
    <div class="flex flex-col w-full h-full items-center justify-start">
        <a asp-action="Index" asp-controller="SiteSettings">
            <div class="cursor-pointer flex items-center justify-center my-5" title="Settings">
                <i data-feather="settings"></i>
            </div>
        </a>
    </div>
</div>