<footer class="w-full h-80 flex flex-col items-center justify-center">
    @if (Model != null)
    {
        <img src="~/@Model.Logo" class="w-12 h-12 rounded-full my-2" />
        <a class="uppercase text-second font-bold text-base my-3" asp-controller="Home"
        asp-action="Index">@Model.StoreName</a>
        <p class="my-3 text-center">@Model.Description</p>
        <p class="my-3">&copy; Md. Jamilur Rahman 2021</p>

    }
    else
    {
        <a class="uppercase text-second font-bold text-base my-3" asp-controller="Home" asp-action="Index">Store</a>
        <p>&copy; Md. Jamilur Rahman 2021</p>
    }
</footer>