@{
    ViewData["Title"] = "Not Allowed";
}

<div class="w-full h-screen flex flex-col items-center justify-center">
    <h1 class="text-3xl font-extrabold text-second">Are You Lost?</h1>
    <h1 class="text-xl font-extrabold text-second my-5">Return To Home</h1>
    <a asp-controller="Home" asp-action="Index" class="text-prime bg-second font-sm font-bold px-2 py-3 my-5 flex flex-row items-center justify-center">
        Go Back <i class="ml-2" data-feather="arrow-right"></i>
    </a>
</div>