<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreASP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/out.css">
    <script src="~/js/feather.js"></script>
</head>

<body class="p-0 m-0 overflow-x-hidden border-box font-pop text-white bg-prime">
    @await Component.InvokeAsync("Header")
    <main class="mt-3">
        <partial name="_AdminNav" />

        @RenderBody()
    </main>
    @* @await Component.InvokeAsync("Footer") *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        feather.replace()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
