<div class="absolute top-20 left-20">
    <a asp-controller="Product" asp-action="Create"
        class="bg-second text-prime flex flex-row items-center justify-center px-2 py-3">
        ADD NEW <i class="ml-3" data-feather="plus"></i>
    </a>
</div>