@using StoreASP.Models
@model SiteSettings


@{
    ViewData["Title"] = "Site Settings";
}

<div>
    <partial name="_AdminNav" />   
    <div class="body absolute top-16 left-16">
        
    </div>
</div>